body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
section {
  display: flex;
}
.intro {
  padding-left: 30px;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 85%;
}
.link {
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  color: white;
}
p {
  text-align: justify;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
